{% extends 'layout.html' %}

{% block title %}Log Memory{% endblock %}

{% block content%}
<h1 class="page-title">LOG A MEMORY</h1>

<div class="form-container">
    <form class="memory-form" action="{% url 'memorials:log_memory' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        <input type="text" class="form-input" placeholder="Write their Full Name..." id="name" name="name">
        
        <input type="text" class="form-input" placeholder="Write a summary of their life(in less than 30 words)..." id="lifeline" name="lifeline">
        
        <textarea class="form-textarea" placeholder="Write a story that captures their major life footprints..." id="story" name="story"></textarea>
        
        <label class="image-label" for="story">Add a 'square' Image of your late loved one(200 x 200)...</label>
        
        <input type="file" class="file-input" src="" alt="" id="profile" name="profile">
        
        <input type="text" class="form-input" placeholder="Add a slug(their first name, preferably)..." id="slug" name="slug">
        
        <input type="submit" class="submit-button" value="SUBMIT">
    </form>
</div>
{% endblock %}