{% extends 'layout.html' %}

{% block title %}Log Memory{% endblock %}

{% block content%}
    <h1 style="color: rgb(0, 0, 0); margin: auto; margin-top: 2rem; margin-bottom: 3rem; width: auto; padding: 0px 0px;
    height: 45px; text-align: center; background-color: #ffffff;">LOG A MEMORY</h1>

    <div style="display: flex; flex-direction: row; justify-content: center;">
        <form style="display: flex; flex-direction: column; justify-content: center; margin-top: 0px;" action="{% url 'memorials:log_memory' %}" 
        method="post" enctype="multipart/form-data">{% csrf_token %}

            <input style="width: 400px; height: 30px; margin-bottom: 1.5rem; padding-left: 25px; border-radius: 0px; border-style: none;" type="text" 
            placeholder="Write their Full Name..." id="name" name="name">

            <input style="width: 400px; height: 30px; margin-bottom: 1.5rem; padding-left: 25px; border-radius: 0px; border-style: none;"
            type="text" placeholder="Write a summary of their life(in less than 30 words)..." id="lifeline" name="lifeline">

            <textarea style="font-family: Poppins, Geneva, Tahoma, sans-serif; margin-bottom: 1.5rem; font-size: 0.8rem; resize: none; width: 400px; 
            height: 30px; padding-left: 25px; border-radius: 0px; border-style: none; padding-top: 0.3rem;" 
            placeholder="Write a story that captures their major life footprints..." id="story" name="story"></textarea>
            
            <label style="color: white; letter-spacing: 0px; font-weight: 400; font-style: normal; padding: 0px; margin: 0px; padding-bottom: 1px; font-size: 11px;" for="story">Add a 'square' Image of your late loved one(200 x 200)...</label>
            <input style="display:flex; width: 400px; background-color: rgb(255, 255, 255);" type="file" src="" alt="" id="profile" name="profile">

            <input style="width: 400px; height: 30px; margin-top: 1.5rem; padding-left: 25px; border-radius: 0px; border-style: none;" type="text" 
            placeholder="Add a slug(their first name, preferably)..." id="slug" name="slug">`

            <input style="margin-bottom: 200px; margin-top: 1rem; width: 400px; height: 35px; margin: auto; background-color: rgb(67, 67, 67);
            color: #ffffff; font-weight: bold;" type="submit" value="SUBMIT">

        </form>
    </div>
{% endblock %}