* {
    padding: 0;
    margin:  0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: #070709;
    min-height: 100vh;
    font-family: Poppins, Geneva, Tahoma, sans-serif;
}

nav {
    background-color: #242424;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 14rem;
    height: 60px;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    gap: 3.2rem;
}

ul a{
    text-decoration: none;
    list-style: none;
}

a {
    text-decoration: none;
    list-style: none;
}

li {
    text-align: center;
    text-decoration: none;
    list-style: none;
    color: whitesmoke;
    font-size: 0.7rem;
    letter-spacing: 0.001rem;
}

li:hover {
   background-color: #070709;;
   padding: 0.2rem 1.2rem 0.2rem 1.2rem;
   border-radius: 1rem;
   box-shadow: 0.2rem;
}

li:active {
        background-color: #070709;;
        padding: 0.2rem 1.2rem 0.2rem 1.2rem;
        border-radius: 1rem;
        box-shadow: 0.2rem;
}

li:visited {
    background-color: #070709;;
    padding: 0.2rem 1.2rem 0.2rem 1.2rem;
    border-radius: 1rem;
    box-shadow: 0.2rem;
}

#hero-main-question {
    color: whitesmoke;
    text-align: center;
    padding: 5rem 0rem 2rem 0rem;
    font-size: 3rem;
}

#log-memory-button {
    color: #29292d;
    font-size: 1.2rem;
    background-color: whitesmoke;
    max-width: 12rem;
    text-align: center;
    margin: auto;
    border-radius: 15rem;
    margin-top: 2rem;
    padding: 0.2rem 0.2rem;
}

@keyframes gray-white-scale {
    0% { color: whitesmoke; }
    50% { color: #29292d}
    100% { color: whitesmoke; }
}

#alive-text-blinker {
    animation-name: gray-white-scale;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-delay: 0s;
}

#line {
    width: 100%;
    height: 0.005rem;
    background-color: #29292d;
    margin: 3rem 0rem 3rem 0rem;
}

#memory_logger_hero_text {
    font-size: 1.5rem;
    color: whitesmoke;
    text-align: center;
    padding: 5rem 0rem 5rem 0rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#name {
    width: 50px;
    height: 10px;
}


/* Styling for the about page*/

.About-header {
    color: rgb(0, 0, 0);
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 3rem;
    width: auto;
    padding: 0px 0px;
    height: 45px;
    text-align: center;
    background-color: #ffffff;
}


.About-content {
    width: 660px;
    margin: auto;
    align-items: center;
}

.content {
    color: white;
    text-align: center;
    font-weight: 300;
    font-size: 13px;
    text-align: left;
}

.About-image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 25px;
}

.images {
    height: 165px;
    width: 330px;
}

.content-2 {
    color: white;
    text-align: center;
    font-weight: 300;
    font-size: 13px;
    text-align: left; 
    padding-bottom: 80px;
}


/*styling the Funeral Home page */
.Funeral-header {
    color: rgb(0, 0, 0);
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 3rem;
    width: auto;
    padding: 0px 0px;
    height: 45px;
    text-align: center;
    background-color: #ffffff;
}


.Funeral-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    width: 600px;
    height: 150px; 
    background-color: rgb(20, 20, 20);
    margin: auto;
    margin-bottom: 50px;
}


.home-image {
    border: solid white 4.5px;
    height: 150px;
    width: 150px;
}

.location-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
    color: #bebebe;
}

.info-heading {
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
}

.info-content {
    font-weight: 300;
    font-style: bold;
    letter-spacing: 1px;
    font-size: 14px;
    color: #ffffff;
}

.divider {
    border: none;
    height: 0.5px;
    background-color: #ffffff;
}



/* styling for Home page */

.message-text {
    color: white;
    text-align: center;
    font-weight: 300;
    font-size: 13px;
}

#log-memory-button {
    margin-top: 50px;
}


/* styling for find a lawyer page*/

#find-lawyer-title {
    color: rgb(0, 0, 0);
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 3rem;
    width: auto;
    padding: 0px 0px;
    height: 45px;
    text-align: center;
    background-color: #ffffff;
}

.lawyer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    width: 600px;
    height: 150px;
    background-color: rgb(20, 20, 20);
    margin: auto;
    margin-bottom: 50px;
}

.lawyer-container-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    width: 600px;
    height: 150px;
    background-color: rgb(20, 20, 20);
    margin: auto;
    margin-bottom: 50px;
    margin-bottom: 5px;
}

.lawyer-image {
    border: solid white 4.5px;
    height: 150px;
    width: 150px;
}

.information-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
    color: #bebebe;
}

.information-heading {
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
}

.information-content {
    font-weight: 300;
    font-style: bold;
    letter-spacing: 1px;
    font-size: 14px;
    color: #ffffff;
}

.seperator {
    border: none;
    height: 0.5px;
    background-color: #ffffff;
}