* {
    padding: 0;
    margin:  0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: #070709;
    min-height: 100vh;
    font-family: Poppins, Geneva, Tahoma, sans-serif;
}

nav {
    background-color: #242424;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 14rem;
    height: 60px;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    gap: 3.2rem;
}

ul a{
    text-decoration: none;
    list-style: none;
}

a {
    text-decoration: none;
    list-style: none;
}

li {
    text-align: center;
    text-decoration: none;
    list-style: none;
    color: whitesmoke;
    font-size: 0.7rem;
    letter-spacing: 0.001rem;
}

li:hover {
   background-color: #070709;;
   padding: 0.2rem 1.2rem 0.2rem 1.2rem;
   border-radius: 1rem;
   box-shadow: 0.2rem;
}

li:active {
        background-color: #070709;;
        padding: 0.2rem 1.2rem 0.2rem 1.2rem;
        border-radius: 1rem;
        box-shadow: 0.2rem;
}

li:visited {
    background-color: #070709;;
    padding: 0.2rem 1.2rem 0.2rem 1.2rem;
    border-radius: 1rem;
    box-shadow: 0.2rem;
}

#hero-main-question {
    color: whitesmoke;
    text-align: center;
    padding: 5rem 0rem 2rem 0rem;
    font-size: 3rem;
}

#log-memory-button {
    color: #29292d;
    font-size: 1.2rem;
    background-color: whitesmoke;
    max-width: 12rem;
    text-align: center;
    margin: auto;
    border-radius: 15rem;
    margin-top: 2rem;
    padding: 0.2rem 0.2rem;
}

@keyframes gray-white-scale {
    0% { color: whitesmoke; }
    50% { color: #29292d}
    100% { color: whitesmoke; }
}

#alive-text-blinker {
    animation-name: gray-white-scale;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-delay: 0s;
}

#line {
    width: 100%;
    height: 0.005rem;
    background-color: #29292d;
    margin: 3rem 0rem 3rem 0rem;
}

#memory_logger_hero_text {
    font-size: 1.5rem;
    color: whitesmoke;
    text-align: center;
    padding: 5rem 0rem 5rem 0rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#name {
    width: 50px;
    height: 10px;
}


/* Styling for the about page*/

.About-header {
    color: rgb(0, 0, 0);
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 3rem;
    width: auto;
    padding: 0px 0px;
    height: 45px;
    text-align: center;
    background-color: #ffffff;
}


.About-content {
    width: 660px;
    margin: auto;
    align-items: center;
}

.content {
    color: white;
    text-align: center;
    font-weight: 300;
    font-size: 13px;
    text-align: left;
}

.About-image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 25px;
}

.images {
    height: 165px;
    width: 330px;
}

.content-2 {
    color: white;
    text-align: center;
    font-weight: 300;
    font-size: 13px;
    text-align: left; 
    padding-bottom: 80px;
}


/*styling the Funeral Home page */
.Funeral-header {
    color: rgb(0, 0, 0);
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 3rem;
    width: auto;
    padding: 0px 0px;
    height: 45px;
    text-align: center;
    background-color: #ffffff;
}


.Funeral-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    width: 600px;
    height: 150px; 
    background-color: rgb(20, 20, 20);
    margin: auto;
    margin-bottom: 50px;
}


.home-image {
    border: solid white 4.5px;
    height: 150px;
    width: 150px;
}

.location-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
    color: #bebebe;
}

.info-heading {
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
}

.info-content {
    font-weight: 300;
    font-style: bold;
    letter-spacing: 1px;
    font-size: 14px;
    color: #ffffff;
}

.divider {
    border: none;
    height: 0.5px;
    background-color: #ffffff;
}



/* styling for Home page */

.message-text {
    color: white;
    text-align: center;
    font-weight: 300;
    font-size: 13px;
}

#log-memory-button {
    margin-top: 50px;
}


/* styling for find a lawyer page*/

#find-lawyer-title {
    color: rgb(0, 0, 0);
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 3rem;
    width: auto;
    padding: 0px 0px;
    height: 45px;
    text-align: center;
    background-color: #ffffff;
}

.lawyer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    width: 600px;
    height: 150px;
    background-color: rgb(20, 20, 20);
    margin: auto;
    margin-bottom: 50px;
}

.lawyer-container-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    width: 600px;
    height: 150px;
    background-color: rgb(20, 20, 20);
    margin: auto;
    margin-bottom: 50px;
    margin-bottom: 5px;
}

.lawyer-image {
    border: solid white 4.5px;
    height: 150px;
    width: 150px;
}

.information-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
    color: #bebebe;
}

.information-heading {
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
}

.information-content {
    font-weight: 300;
    font-style: bold;
    letter-spacing: 1px;
    font-size: 14px;
    color: #ffffff;
}

.seperator {
    border: none;
    height: 0.5px;
    background-color: #ffffff;
}


/* styling for memory log */

.page-title {
    color: rgb(0, 0, 0);
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 3rem;
    width: auto;
    padding: 0px 0px;
    height: 45px;
    text-align: center;
    background-color: #ffffff;
}

.form-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.memory-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0px;
}

.form-input {
    width: 400px;
    height: 30px;
    margin-bottom: 1.5rem;
    padding-left: 25px;
    border-radius: 0px;
    border-style: none;
}

.form-textarea {
    font-family: Poppins, Geneva, Tahoma, sans-serif;
    margin-bottom: 1.5rem;
    font-size: 0.8rem;
    resize: none;
    width: 400px;
    height: 30px;
    padding-left: 25px;
    border-radius: 0px;
    border-style: none;
    padding-top: 0.3rem;
}

.image-label {
    color: white;
    letter-spacing: 0px;
    font-weight: 400;
    font-style: normal;
    padding: 0px;
    margin: 0px;
    padding-bottom: 1px;
    font-size: 11px;
}

.file-input {
    display: flex;
    width: 400px;
    background-color: rgb(255, 255, 255);
}

.submit-button {
    margin-bottom: 200px;
    margin-top: 1rem;
    width: 400px;
    height: 35px;
    margin: auto;
    background-color: rgb(67, 67, 67);
    color: #ffffff;
    font-weight: bold;
}


/* styling for memory section */

.memories-title {
    color: rgb(0, 0, 0);
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 3rem;
    width: auto;
    height: 45px;
    text-align: center;
    background-color: #ffffff;
    font-size: 32px;
}

.memory-card {
    margin: auto;
    align-items: center;
    width: fit-content;
    height: fit-content;
    margin-bottom: 30px;
    border: solid #b5b5b5 0.5px;
}

.memory-content {
    width: 500px;
    height: fit-content;
}

.memory-name {
    color: white;
    text-align: center;
    padding-top: 1rem;
}

.memory-lifeline {
    font-weight: 500;
    font-style: normal;
    font-size: 11px;
    color: rgb(0, 0, 0);
    width: 500px;
    height: 20px;
    text-align: center;
    background-color: #ffffff;
    margin-top: 0.1rem;
    padding: 2px 2px;
}

.memory-story {
    color: white;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    font-size: 12px;
}

.memory-date {
    color: white;
    text-align: center;
    padding-bottom: 1rem;
    padding-top: 0.5rem;
    font-weight: 300;
    font-style: normal;
    font-size: 12px;
}

.new-memory-link {
    color: white;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 4rem;
}


/* Styles for memory detail page */

.memory-detail-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    margin: auto;
    width: 1000px;
    height: 100px;
    margin-top: 200px;
}

.name-detail {
    color: rgb(0, 0, 0);
    margin-top: 2rem;
    margin-bottom: 0.4rem;
    width: 1000px;
    height: 40px;
    text-align: center;
    background-color: #ffffff;
}

.lifeline-detail {
    color: rgb(255, 255, 255);
    margin-bottom: 2rem;
    width: 1000px;
    height: 70px;
    padding: 5px 5px;
    text-align: center;
    background-color: #242424;
    font-weight: normal;
    font-style: normal;
    font-size: 12px;
}

.profile-story-container {
    display: flex;
    flex-direction: row;
    padding: 10px 10px 10px 10px;
    border: solid #b5b5b5 0.5px;
}

.profile-image {
    width: 200px;
    height: 200px;
    display: block;
    margin: left;
}

.story-detail {
    color: white;
    padding-left: 2rem;
}

.date-detail {
    color: #b5b5b5;
    padding-bottom: 4rem;
    padding-top: 1rem;
    padding: 10px 0px 0px 10px;
    font-weight: normal;
    font-style: normal;
    font-size: 12px;
}