{% extends 'layout.html' %}

{% block title %}About Eulogy{% endblock %}

{% block content%}
    <h1 style="color: rgb(0, 0, 0); margin: auto; margin-top: 2rem; margin-bottom: 3rem; width: auto; padding: 0px 0px;
    height: 45px; text-align: center; background-color: #ffffff;">ABOUT EULOGY</h1>

    <div style="width: 660px; margin: auto; align-items: center;">
        <p style="color: white; text-align: center; font-weight: 300; font-size: 13px;text-align: left;">Grief is Universal. Because Death is a constant. 
            But when it happens, we still find ourselves shocked beyond belief. At these times. We sob beyond relief. Time is the way we heal. 
            Can we immortalise these souls that gave meaning? That was the question on the mind of Grace and I as we pondered on our final 
            ALX project.  <br> Build something Unique. Something utilitarian. Something that heals. A gift for the world for the end of it all. 
            At the end of our Sprint.</p>
        
        <div style="display: flex; flex-direction: row; justify-content: center; margin-top: 15px; margin-bottom: 25px;">
            <img height="165" width="330" src="/static/images/grace.png" alt="grace">
            <img height="165" width="330" src="/static/images/stun.png" alt="damola">
        </div>
        
        <p style="color: white; text-align: center; font-weight: 300; font-size: 13px;text-align: left; padding-bottom: 80px;">We spotted our opportunity to start a
        new conversation, about death, thus about life, and how we can keep living after we die.  <br> <br> Death is a taboo subject in most parts of Africa. 
        But Ironically, the Yorubas and Igbos throw the most lavish funeral parties Imaginable. And thus, we latched on to this opening, to this opportunity.
        Our mission was simple; mildly demistify the concept of death, create a platform for the memorial of the dead and offer services that make 
        the process of grief easier to navigate and process.  <br> <br> This will include, accessing a lawyer, accessing funeral homes and grief counselling 
        services.
        <br> <br>
        Osimen Grace was largely responsible for the building of the frontend while Oladamola Taiwo was largely responsible for the Backend 
        development, although they worked across board and synergized ideas and experiences to birth this brainchild of theirs.
        <br><br>They hope to scale the application and add on more features that would make the application easier and smoother, functionally and 
        experientially.</p>
    </div>
{% endblock %}