{% extends 'layout.html' %}

{% block title %}Funeral Homes{% endblock %}

{% block content%}
   <!-- Funeral Homes Page Header -->
<div class="Funeral-header">
    <h1>FIND A FUNERAL HOME</h1>
 </div>
 
 <!-- Funeral Home Information -->
 <div class="Funeral-content">
    <!-- Funeral Home Image -->
    <img class="home-image" src="/static/images/endonorary.png" alt="endonorary">
    
    <!-- Contact Information Container -->
    <div class="location-container">
        <!-- Location Details -->
        <h1 class="info-heading">Location: <span class="info-content">&nbsp; 21, Ozone, Yaba, Lagos</span></h1>
        <hr class="divider">
        <!-- Manager Information -->
        <h1 class="info-heading">Manager: <span class="info-content">&nbsp; Ahmed Olalekan Majekodunmi</span></h1>
        <hr class="divider">
        <!-- Contact Details -->
        <h1 class="info-heading">Contact Number: <span class="info-content">&nbsp; +2348144544671</span></h1>
        <hr class="divider">
        <!-- Operating Hours -->
        <h1 class="info-heading">Availability: <span class="info-content">&nbsp; 24/7(Sunday - Saturday)</span></h1>
        <hr class="divider">
        <!-- Additional Services -->
        <h1 class="info-heading">Grief Counselling: <span class="info-content">&nbsp; N/A</span></h1>
    </div>
 </div>
 
 <!-- Funeral Home Information -->
 <div class="Funeral-content">
    <!-- Funeral Home Image -->
    <img class="home-image" src="/static/images/beckoning.png" alt="beckoning">
    
    <!-- Contact Information Container -->
    <div class="location-container">
        <!-- Location Details -->
        <h1 class="info-heading">Location: <span class="info-content">&nbsp; 30, Sterling Road, Ikate, Lagos </span></h1>
        <hr class="divider">
        <!-- Manager Information -->
        <h1 class="info-heading">Manager: <span class="info-content">&nbsp; Christian Alice Barbara</span></h1>
        <hr class="divider">
        <!-- Contact Details -->
        <h1 class="info-heading">Contact Number: <span class="info-content">&nbsp; +2348234555671</span></h1>
        <hr class="divider">
        <!-- Operating Hours -->
        <h1 class="info-heading">Availability: <span class="info-content">&nbsp; 24/7(Sunday - Saturday)</span></h1>
        <hr class="divider">
        <!-- Additional Services -->
        <h1 class="info-heading">Grief Counselling: <span class="info-content">&nbsp; Available</span></h1>
    </div>
 </div>
{% endblock %}