{% extends 'layout.html' %}

{% block title %}Funeral Homes{% endblock %}

{% block content%}
    <h1 style="color: rgb(0, 0, 0); margin: auto; margin-top: 2rem; margin-bottom: 3rem; width: auto; padding: 0px 0px;
    height: 45px; text-align: center; background-color: #ffffff;">FIND A FUNERAL HOME</h1>

    <div style="display: flex; flex-direction: row; justify-content: center; gap: 40px; width: 600px; height: 150px; 
    background-color: rgb(20, 20, 20); margin: auto; margin-bottom: 50px;">
        <img style="border: solid white 4.5px; " src="/static/images/endonorary.png" alt="endonorary" height="150px" width="150px">
        
        <div style="display: flex; flex-direction: column; gap: 4px; justify-content: center; color: #bebebe;">
            <h1 style="font-weight: 300; font-style: normal; font-size: 14px">Location: <span style="font-weight: 300; 
            font-style: bold; letter-spacing: 1px; font-size: 14px; color: #ffffff;"> &nbsp; 21, Ozone, Yaba, Lagos</span></h1>
            <hr style=" border: none; height: 0.5px; background-color: #ffffff;">
            <h1 style="font-weight: 300; font-style: normal; font-size: 14px">Manager: <span style="font-weight: 300; 
            font-style: bold; letter-spacing: 1px; font-size: 14px; color: #ffffff;"> &nbsp; Ahmed Olalekan Majekodunmi</span></h1>
            <hr style=" border: none; height: 0.5px; background-color: #ffffff;">
            <h1 style="font-weight: 300; font-style: normal; font-size: 14px">Contact Number: <span style="font-weight: 300; 
            font-style: bold; letter-spacing: 1px; font-size: 14px; color: #ffffff;"> &nbsp; +2348144544671</span></h1>
            <hr style=" border: none; height: 0.5px; background-color: #ffffff;">
            <h1 style="font-weight: 300; font-style: normal; font-size: 14px">Availability: <span style="font-weight: 300; 
            font-style: bold; letter-spacing: 1px; font-size: 14px; color: #ffffff;"> &nbsp; 24/7(Sunday - Saturday)</span></h1>
            <hr style=" border: none; height: 0.5px; background-color: #ffffff;">
            <h1 style="font-weight: 300; font-style: normal; font-size: 14px">Grief Counselling: <span style="font-weight: 300; 
            font-style: bold; letter-spacing: 1px; font-size: 14px; color: #ffffff;"> &nbsp; N/A</span></h1>
        </div>
    </div>

    <div style="display: flex; flex-direction: row; justify-content: center; gap: 40px; width: 600px; height: 150px; 
    background-color: rgb(20, 20, 20); margin: auto; margin-bottom: 50px;">
        <img style="border: solid white 4.5px; " src="/static/images/beckoning.png" alt="beckoning" height="150px" width="150px">
        
        <div style="display: flex; flex-direction: column; gap: 4px; justify-content: center; color: #bebebe;">
            <h1 style="font-weight: 300; font-style: normal; font-size: 14px">Location: <span style="font-weight: 300; 
            font-style: bold; letter-spacing: 1px; font-size: 14px; color: #ffffff;"> &nbsp; 30, Sterling Road, Ikate, Lagos </span></h1>
            <hr style=" border: none; height: 0.5px; background-color: #ffffff;">
            <h1 style="font-weight: 300; font-style: normal; font-size: 14px">Manager: <span style="font-weight: 300; 
            font-style: bold; letter-spacing: 1px; font-size: 14px; color: #ffffff;"> &nbsp; Christian Alice Barbara</span></h1>
            <hr style=" border: none; height: 0.5px; background-color: #ffffff;">
            <h1 style="font-weight: 300; font-style: normal; font-size: 14px">Contact Number: <span style="font-weight: 300; 
            font-style: bold; letter-spacing: 1px; font-size: 14px; color: #ffffff;"> &nbsp; +2348234555671</span></h1>
            <hr style=" border: none; height: 0.5px; background-color: #ffffff;">
            <h1 style="font-weight: 300; font-style: normal; font-size: 14px">Availability: <span style="font-weight: 300; 
            font-style: bold; letter-spacing: 1px; font-size: 14px; color: #ffffff;"> &nbsp; 24/7(Sunday - Saturday)</span></h1>
            <hr style=" border: none; height: 0.5px; background-color: #ffffff;">
            <h1 style="font-weight: 300; font-style: normal; font-size: 14px">Grief Counselling: <span style="font-weight: 300; 
            font-style: bold; letter-spacing: 1px; font-size: 14px; color: #ffffff;"> &nbsp; Available</span></h1>
        </div>
    </div>
{% endblock %}