{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content%}
<h1 id="hero-main-question">How do you stay <span id="alive-text-blinker">Alive</span><br>when you are Dead?</h1>

<div>
    <p class="message-text">Whether you think death is an end or a new beginning...</p>
    <p class="message-text">All we know is, noone gone, deserves to be forgotten...</p>
    <p class="message-text">Welcome to Eulogy, where we preserve the memories...</p>
    <p class="message-text">of the loved ones we have lost, saying farewell to...</p>
    <p class="message-text">parent, spouse, friend, sibling, child, mentor... </p>
</div>

<a href="{% url 'memorials:log_memory' %}"><h1 id="log-memory-button">Log a Memory</h1></a>

{% endblock %}