{% extends 'layout.html' %}

{% block title %}About Eulogy{% endblock %}

{% block content%}
    <h1 style="color: rgb(0, 0, 0); margin: auto; margin-top: 2rem; margin-bottom: 3rem; width: auto; padding: 0px 0px;
    height: 45px; text-align: center; background-color: #ffffff;">FIND A LAWYER</h1>

    <div style="display: flex; flex-direction: row; justify-content: center; gap: 40px; width: 600px; height: 150px; 
    background-color: rgb(20, 20, 20); margin: auto; margin-bottom: 50px;">
        <img style="border: solid white 4.5px; " src="/static/images/lawyer.png" alt="Olajide" height="150px" width="150px">
        
        <div style="display: flex; flex-direction: column; gap: 4px; justify-content: center; color: #bebebe;">
            <h1 style="font-weight: 300; font-style: normal; font-size: 14px">Name: <span style="font-weight: 300; 
            font-style: bold; letter-spacing: 1px; font-size: 14px; color: #ffffff;"> &nbsp; Olajide Marcus, SAN</span></h1>
            <hr style=" border: none; height: 0.5px; background-color: #ffffff;">
            <h1 style="font-weight: 300; font-style: normal; font-size: 14px">Chamber: <span style="font-weight: 300; 
            font-style: bold; letter-spacing: 1px; font-size: 14px; color: #ffffff;"> &nbsp; Olajide & Co. Chambers</span></h1>
            <hr style=" border: none; height: 0.5px; background-color: #ffffff;">
            <h1 style="font-weight: 300; font-style: normal; font-size: 14px">Specialization: <span style="font-weight: 300; 
            font-style: bold; letter-spacing: 1px; font-size: 14px; color: #ffffff;"> &nbsp; Property Law</span></h1>
            <hr style=" border: none; height: 0.5px; background-color: #ffffff;">
            <h1 style="font-weight: 300; font-style: normal; font-size: 14px">Office Address: <span style="font-weight: 300; 
            font-style: bold; letter-spacing: 1px; font-size: 14px; color: #ffffff;"> &nbsp; 211, Fara Park, Majek, Lagos</span></h1>
            <hr style=" border: none; height: 0.5px; background-color: #ffffff;">
            <h1 style="font-weight: 300; font-style: normal; font-size: 14px">Contact Number: <span style="font-weight: 300; 
            font-style: bold; letter-spacing: 1px; font-size: 14px; color: #ffffff;"> &nbsp; +2348175119743</span></h1>
        </div>
    </div>

    <div style="display: flex; flex-direction: row; justify-content: center; gap: 40px; width: 600px; height: 150px; 
    background-color: rgb(20, 20, 20); margin: auto; margin-bottom: 5px;">
        <img style="border: solid white 4.5px; " src="/static/images/lawyer2.png" alt="Obiageli" height="150px" width="150px">
        
        <div style="display: flex; flex-direction: column; gap: 4px; justify-content: center; color: #bebebe;">
            <h1 style="font-weight: 300; font-style: normal; font-size: 14px">Name: <span style="font-weight: 300; 
            font-style: bold; letter-spacing: 1px; font-size: 14px; color: #ffffff;"> &nbsp; Obiageli Nwoko Angel</span></h1>
            <hr style=" border: none; height: 0.5px; background-color: #ffffff;">
            <h1 style="font-weight: 300; font-style: normal; font-size: 14px">Chamber: <span style="font-weight: 300; 
            font-style: bold; letter-spacing: 1px; font-size: 14px; color: #ffffff;"> &nbsp; Astute Chambers, Lekki</span></h1>
            <hr style=" border: none; height: 0.5px; background-color: #ffffff;">
            <h1 style="font-weight: 300; font-style: normal; font-size: 14px">Specialization: <span style="font-weight: 300; 
            font-style: bold; letter-spacing: 1px; font-size: 14px; color: #ffffff;"> &nbsp; Inheritance Law</span></h1>
            <hr style=" border: none; height: 0.5px; background-color: #ffffff;">
            <h1 style="font-weight: 300; font-style: normal; font-size: 14px">Office Address: <span style="font-weight: 300; 
            font-style: bold; letter-spacing: 1px; font-size: 14px; color: #ffffff;"> &nbsp; 1, Pearl Osibo, Lekki Phase 1</span></h1>
            <hr style=" border: none; height: 0.5px; background-color: #ffffff;">
            <h1 style="font-weight: 300; font-style: normal; font-size: 14px">Contact Number: <span style="font-weight: 300; 
            font-style: bold; letter-spacing: 1px; font-size: 14px; color: #ffffff;"> &nbsp; +2348282557126</span></h1>
        </div>
    </div>
{% endblock %}