{% extends 'layout.html' %}

{% block title %}About Eulogy{% endblock %}

{% block content%}
<!-- Main heading for the lawyer directory page -->
<h1 id="find-lawyer-title">FIND A LAWYER</h1>

<!-- First lawyer profile container -->
<div class="lawyer-container-2">
    <!-- Lawyer profile image -->
    <img class="lawyer-image" src="/static/images/lawyer.png" alt="Olajide">
    
    <!-- Container for lawyer's information -->
    <div class="information-container">
        <!-- Personal and professional details  -->
        <h1 class="information-heading">Name: <span class="information-content">&nbsp; Olajide Marcus, SAN</span></h1>
        <hr class="seperator">
        <h1 class="information-heading">Chamber: <span class="information-content">&nbsp; Olajide & Co. Chambers</span></h1>
        <hr class="seperator">
        <h1 class="information-heading">Specialization: <span class="information-content">&nbsp; Property Law</span></h1>
        <hr class="seperator">
        <h1 class="information-heading">Office Address: <span class="information-content">&nbsp; 211, Fara Park, Majek, Lagos</span></h1>
        <hr class="seperator">
        <h1 class="information-heading">Contact Number: <span class="information-content">&nbsp; +2348175119743</span></h1>
    </div>
</div>

<!-- lawyer profile container -->
<div class="lawyer-container">
    <!-- Lawyer profile image -->
    <img class="lawyer-image" src="/static/images/lawyer2.png" alt="Obiageli">
    
    <!-- Container for lawyer's information -->
    <div class="information-container">
        <!-- Personal and professional details-->
        <h1 class="information-heading">Name: <span class="information-content">&nbsp; Obiageli Nwoko Angel</span></h1>
        <hr class="seperator">
        <h1 class="information-heading">Chamber: <span class="information-content">&nbsp; Astute Chambers, Lekki</span></h1>
        <hr class="seperator">
        <h1 class="information-heading">Specialization: <span class="information-content">&nbsp; Inheritance Law</span></h1>
        <hr class="seperator">
        <h1 class="information-heading">Office Address: <span class="information-content">&nbsp; 1, Pearl Osibo, Lekki Phase 1</span></h1>
        <hr class="seperator">
        <h1 class="information-heading">Contact Number: <span class="information-content">&nbsp; +2348282557126</span></h1>
    </div>
</div>
{% endblock %}